$font-family-sans-serif: Dosis, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
$purple: #855DED;
$primary: $purple;
$green: #20DC96;
$pink: #E95079;
$danger: $pink;
$yiq-text-dark: #555454;
$blue: #0EC1FF;
$secondary: #fff;
$info: $blue;
$yellow: #FAB252;